<li class="level1">API Reference</li>
  <div class="collapsible-body">
    <ul>
      <li class="level2"><a href="../reference/api-changelog.html">API Changelog</a></li>
      <li class="level2"><a href="../reference/api.html#AuthenticationAPI" target="&#95;blank">Authentication</a><i class="fa fa-external-link" style="padding-left: 5px; color: #727779;"></i></li>
      <li class="level2"><a href="../reference/api.html#MerchantApplicationAPI" target="&#95;blank">Merchant Application</a><i class="fa fa-external-link" style="padding-left: 5px; color: #727779;"></i></li>
      <li class="level2"><a href="../reference/api.html#PaymentGatewayAPI" target="&#95;blank">Payment Gateway</a><i class="fa fa-external-link" style="padding-left: 5px; color: #727779;"></i></li>
    </ul>
