<li class="level1">Resources</li>
  <div class="collapsible-body">
    <ul>
    {% if page.url == '/resources/libraries-sample-code.html' %}
      <li class="level2 active">
    {% else %}
      <li class="level2">
    {% endif %}
      <a href="../resources/libraries-sample-code.html">Libraries &amp; Sample Code</a></li>
    {% if page.url == '/resources/branding-guidelines.html' %}
      <li class="level2 active">
    {% else %}
      <li class="level2">
    {% endif %}
      <a href="../resources/branding-guidelines.html">Sign In Branding Guidelines</a></li>
    {% if page.url == '/resources/faq.html' %}
      <li class="level2 active" style="padding-right:40px;">
    {% else %}
      <li class="level2" style="padding-right:40px;">
    {% endif %}
      <a href="../resources/faq.html">FAQ</a></li>
    </ul>
