<!--BEGIN LEFT NAV/TOC SECTION-->
  <div id="toc">
    <ul class="table-of-contents">
      <!--GENERAL (LEVEL1) SECTION-->
      {% include toc/basics.html %}
      <!--END GENERAL (LEVEL1) SECTION-->
      <!--GUIDES (LEVEL1) SECTION-->
      {% include toc/guides.html %}
      <!--END GUIDES (LEVEL1) SECTION-->
      <!--RESOURCES (LEVEL1) SECTION-->
      {% include toc/resources.html %}
      <!--END RESOURCES (LEVEL1) SECTION-->
      <!--REFERENCE (LEVEL1) SECTION-->
      {% include toc/reference.html %}
      <!--END REFERENCE (LEVEL1) SECTION-->
    </ul>
  </div>
<!--END LEFT NAV/TOC SECTION-->
