<header>
<!--White nav bar across top with logo-->
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <ul>
        <li class="toc"><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a></li>
        <li class="brand-logo"><a href="../index.html" style="height: 80px;"><img class="logo" src="../images/dev_lock_up_doc_site.svg"></a></li>
      </ul>
      <div id="nav-mobile" class="toc-nav">
        {% include toc/toc.html %}
      </div>
      <!--Top navbar links
      <ul id="nav-center" class="center hide-on-med-and-down">
        <li value="1"><a href="../guides/app-dev-getting-started.html"><span class="affinipay-green-text">Application</span></a></li>
        <li value="2"><a href="../guides/payment-page-getting-started.html"><span class="affinipay-green-text">Payment Page</span></a></li>
      </ul>-->
      <!--BEGIN Search input field and icon on top right nav bar-->
      <ul class="right hide-on-med-and-down">
        <li>
          <form action="/search.html" method="get">
            <div class="input-field" style="width: 250px; padding-left: 4rem; margin: 13px;">
              <input id="search-box" type ="search" name="query" placeholder="search">
                <label for="search"><i class="material-icons affinipay-green-text" style="margin-top: 20px;">search</i></label>
                  <i class="material-icons" style="margin-top: 20px;">close</i>
            </div>
          </form>
        </li>
        <li><a href="mailto:devsupport@affinipay.com" id="download-button" class="btn outline waves-effect waves-light">Contact Us</span></a></li>
      </ul>
    </nav>
  </div>
</header>
