<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include top-nav.html %}
    <div class="tocify-wrapper hide-on-med-and-down" style="padding-left: 10px;">
      {% include toc/toc.html %}
    </div>
    <div class="page-wrapper mobile-box">
      <div class="main">
        <h1>{{ page.title }}</h1>
            {{ content }}
      </div>
    </div>
    <!--{% include footer.html %}-->
    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../../js/init.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
    <!--jBox Tooltips-->
    <script src="../../js/jBox.min.js"></script>
    <link rel="stylesheet" href="../../css/jBox.css">
  </body>
</html>
