<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      <!--White nav bar across top with logo-->
        <div class="navbar-fixed">
            <nav class="white" role="navigation">
              <div class="navbar-fixed nav-wrapper white">
                <ul>
                  <li class="brand-logo"><a href="../index.html"><img src="../images/dev_lock_up_doc_site.svg"></a></li>
                </ul>
                <!--Top navbar links
                <ul id="nav-center" class="center hide-on-med-and-down">
                  <li value="1"><a href="../guides/app-dev-getting-started.html"><span class="affinipay-green-text">Application</span></a></li>
                  <li value="2"><a href="../guides/payment-page-getting-started.html"><span class="affinipay-green-text">Payment Page</span></a></li>
                </ul>-->
                <ul class="right hide-on-med-and-down">
                  <li><a href="mailto:devsupport@affinipay.com" id="download-button" class="btn outline waves-effect waves-light">Contact Us</span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </nav>
      </div>
    </header>
      <div>
            {{ content }}
      </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript" src="../../js/init.js"></script>
  </body>
</html>
